.task-item-container {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.task-item-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.task-item-button {
  margin-right: 5px; /* Reduced margin between buttons */
  padding: 5px 10px; /* Smaller padding for smaller buttons */
  border: none;
  background-color:#28a745 ;
  color: white;
  cursor: pointer;
  border-radius: 3px; /* Slightly smaller border radius */
  font-size: 0.8rem; /* Smaller font size */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.task-item-button:hover {
  background-color: #28a745;
  transform: scale(1.05);
}

.task-item-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.task-item-add-task-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item-add-task-form input,
.task-item-add-task-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.task-item-add-task-form input:focus,
.task-item-add-task-form textarea:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px #28a745;
  outline: none;
}

.task-item-add-task-form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  /* transition: background-color 0.3s ease; */
}

.task-item-add-task-form button:hover {
  background-color: #218838;
}
